#this application name is turkce
import requests
import json

api_url = "https://api.exchangeratesapi.io/latest?base="

alinan_doviz = input("bozulan döviz türü :")
bozulan_doviz = input("alınan döviz türü :")
miktar = int(input(f"ne kadar {bozulan_doviz} bozdurmak istersiniz :"))

result = requests.get(api_url+bozulan_doviz)
result = json.loads(result.text)

print("1 {} = {} {}".format(bozulan_doviz,result["rates"][alinan_doviz],alinan_doviz))
print("{} {} = {} {}".format(miktar,bozulan_doviz,miktar * result["rates"][alinan_doviz],alinan_doviz))
